<?xml version="1.0" encoding="UTF-8"?>
<module version="2.0">
   <meta>
      <identity>
         <uri>urn:overstory.co.uk:service:resource:identifier</uri>
         <version>1.0.0</version>
      </identity>
      <info>
         <name>Identifier Service</name>
         <description>REST Service to allocate and manage unique IDs</description>
         <icon>res:/idsvc/pub/icon.png</icon>
      </info>
   </meta>
   <system>
      <dynamic/>
   </system>


	<rootspace uri="urn:overstory.co.uk:service:resource:identifier" public="true" name="Identifier Service REST endpoints">
		<fileset>
			<regex>res:/etc/system/SimpleDynamicImportHook.xml</regex>
		</fileset>

		<overlay>
			<prototype>RESTOverlay</prototype>
			<config>
				<basepath>/idsvc/</basepath>
				<auto404/>
			</config>
			<space>
				<mapper>
					<config>res:/resources/rest/RESTEndpointMappings.xml</config>
					<space>
						<import>
							<uri>urn:overstory.co.uk:service:resource:identifier:toolbox</uri>
						</import>
						<import>
							<uri>urn:overstory.co.uk:service:resource:identifier:normalized</uri>
						</import>
						<import>
							<!-- Available at https://github.com/overstory/netkernel-public-modules -->
							<uri>urn:overstory.co.uk:nk:modules:http-async</uri>
						</import>
						<fileset>
							<regex>res:/resources/.*</regex>
						</fileset>
					</space>
				</mapper>
			</space>
		</overlay>

		<import>
			<private/>
			<uri>urn:org:netkernel:tpt:http</uri>
		</import>

		<fileset>
			<regex>res:/config/.*</regex>
		</fileset>
		<!--ICON-->
		<fileset>
			<regex>res:/resources/doc/overstory-icon.png</regex>
		</fileset>
	</rootspace>

	<rootspace uri="urn:overstory.co.uk:service:resource:identifier:toolbox" public="false" name="Toolbox">
		<import>
			<uri>urn:org:netkernel:xml:core</uri>
		</import>
        <import>
            <uri>urn:org:netkernel:json:core</uri>
        </import>
		<import>
			<uri>urn:org:netkernel:lang:xrl</uri>
		</import>
		<import>
			<uri>urn:org:netkernel:xml:saxon</uri>
		</import>
		<import>
			<uri>urn:org:netkernel:lang:dpml</uri>
		</import>
		<import>
			<uri>urn:org:netkernel:lang:groovy</uri>
		</import>
		<import>
			<uri>urn:org:netkernel:client:http</uri>
		</import>
		<import>
			<uri>urn:org:netkernel:ext:layer1</uri>
		</import>
		<import>
			<uri>urn:org:netkernel:ext:system</uri>	<!--Required for Exception to DOM Transreptor-->
		</import>
	</rootspace>

	<rootspace uri="urn:overstory.co.uk:service:resource:identifier:normalized" public="false">
		<mapper>
			<config>res:/resources/rest/NormalizedEndpointMappings.xml</config>
			<space>
				<import>
					<uri>urn:overstory.co.uk:service:resource:identifier:toolbox</uri>
				</import>
				<fileset>
					<regex>res:/resources/.*</regex>
				</fileset>
			</space>
		</mapper>
	</rootspace>

   <rootspace name="Identifier Service - Documentation Space" public="true" uri="urn:overstory.co.uk:service:resource:identifier:doc">
      <fileset>
         <regex>res:/etc/system/(Books|Docs).xml</regex>
      </fileset>
      <fileset>
         <regex>res:/resources/doc/.*</regex>
      </fileset>
   </rootspace>

</module>
