<?xml version="1.0" encoding="UTF-8"?>
<module version="2.0">
	<meta>
		<identity>
			<uri>urn:overstory.co.uk:service:resource:identifier:tests</uri>
			<version>0.1.0</version>
		</identity>
		<info>
			<name>Tests of Overstory Identifier Service</name>
			<description>Tests for OverStory REST Identifier Service</description>
			<icon>res:/resources/doc/overstory-icon.png</icon>
		</info>

	</meta>
	<system>
		<dynamic/>
	</system>

	<rootspace uri="urn:overstory.co.uk:service:resource:identifier:tests" public="true" name="Identifier Service REST Tests">
		<fileset>
			<regex>res:/etc/system/SimpleDynamicImportHook.xml</regex>
		</fileset>

		<fileset>
			<regex>res:/etc/system/Tests.xml</regex>
		</fileset>
		<fileset>
			<regex>res:/test/.*</regex>
		</fileset>
		<fileset>
			<regex>res:/config/.*</regex>
		</fileset>
		<!--ICON-->
		<fileset>
			<regex>res:/resources/doc/overstory-icon.png</regex>
		</fileset>

		<mapper>
			<config>
				<endpoint>
					<grammar>
						<simple>res:/svcconfig/string/{field}</simple>
					</grammar>
					<request>
						<identifier>active:xpath2</identifier>
						<argument name="operator" method="as-string">string(/config/[[arg:field]])</argument>
						<argument name="operand">res:/test/svcconfig.xml</argument>
					</request>
				</endpoint>

				<endpoint>
					<grammar>
						<simple>res:/svcconfig/xml/{field}</simple>
					</grammar>
					<request>
						<identifier>active:xpath2</identifier>
						<argument name="operator" method="as-string">/config/[[arg:field]]</argument>
						<argument name="operand">res:/test/svcconfig.xml</argument>
					</request>
				</endpoint>

				<endpoint>
					<grammar>
						<active>
							<identifier>active:idsvc-ra-xml-config</identifier>
						</active>
					</grammar>
					<request>
						<identifier>active:groovy</identifier>
						<argument name="operator">res:/test/util/ra-xml-config.gy</argument>
					</request>
				</endpoint>

				<endpoint>
					<grammar>
						<active>
							<identifier>active:idsvc-ra-setup-static-state</identifier>
						</active>
					</grammar>
					<request>
						<identifier>active:groovy</identifier>
						<argument name="operator">res:/test/util/ra-static-state-setup.gy</argument>
					</request>
				</endpoint>

				<endpoint>
					<grammar>
						<active>
							<identifier>active:idsvc-ra-reset-static-state</identifier>
						</active>
					</grammar>
					<request>
						<identifier>active:groovy</identifier>
						<argument name="operator">res:/test/util/ra-reset-static-state.gy</argument>
					</request>
				</endpoint>

				<endpoint>
					<grammar>
						<active>
							<identifier>active:idsvc-namespaces-context</identifier>
						</active>
					</grammar>
					<request>
						<identifier>active:groovy</identifier>
						<argument name="operator">res:/test/util/namespaces.gy</argument>
					</request>
				</endpoint>

			</config>

			<space/>
		</mapper>


		<endpoint><!-- stop any configuration from module under test from polluting address space -->
			<prototype>Limiter</prototype>
			<grammar>
				res:/etc/
				<regex type="anything" />
			</grammar>
		</endpoint>

		<import>
			<uri>urn:org:netkernel:mod:restassured</uri>
		</import>
		<import>
			<uri>urn:org:netkernel:ext:layer1</uri>
		</import>
		<import>
			<uri>urn:org:netkernel:client:http</uri>
		</import>
		<import>
			<uri>urn:org:netkernel:lang:groovy</uri>
		</import>
		<import>
			<uri>urn:org:netkernel:xml:core</uri>
		</import>
		<import>
			<uri>urn:org:netkernel:xml:saxon</uri>
		</import>
		<import>
			<uri>urn:org:netkernel:ext:system</uri>	<!--Required for Exception to DOM Transreptor-->
		</import>
		<import>
			<uri>urn:overstory.co.uk:service:resource:identifier:httpstatemanager:test-rig</uri>
		</import>
		<import>
			<uri>urn:overstory.co.uk:service:resource:identifier:toolbox:test</uri>
		</import>
		<fileset>
			<regex>res:/resources/.*</regex>
		</fileset>
	</rootspace>

	<!-- This should be in a standalone module? -->
	<rootspace uri="urn:overstory.co.uk:service:resource:identifier:httpstatemanager:test-rig" public="false">
		<fileset>
			<regex>res:/etc/system/SimpleDynamicImportHook.xml</regex>
		</fileset>
		<mapper>
			<config>
				<endpoint>
					<grammar>
						<active>
							<identifier>active:httpState/managed/test</identifier>
						</active>
					</grammar>
					<request>
						<identifier>active:groovy</identifier>
						<argument name="operator">res:/test/util/http-state-manager.gy</argument>
					</request>
				</endpoint>

				<endpoint>
					<grammar>
						<active>
							<identifier>active:ml-test-rig/clear-db</identifier>
						</active>
					</grammar>
					<request>
						<identifier>active:groovy</identifier>
						<argument name="operator">res:/test/ml-test-rig/clear-db.gy</argument>
					</request>
				</endpoint>

				<endpoint>
					<grammar>
						<active>
							<identifier>active:ml-test-rig/identifier-count</identifier>
						</active>
					</grammar>
					<request>
						<identifier>active:groovy</identifier>
						<argument name="operator">res:/test/ml-test-rig/identifier-count.gy</argument>
					</request>
				</endpoint>

			</config>
			<space>
				<import>
					<uri>urn:overstory.co.uk:service:resource:identifier:toolbox:test</uri>
				</import>
				<import>
					<uri>urn:org:netkernel:mod:pds</uri>
				</import>
				<import>
					<uri>urn:org:netkernel:mod:pds:memory</uri>
				</import>
				<fileset>
					<regex>res:/resources/.*</regex>
				</fileset>
				<literal uri="res:/etc/pdsConfig.xml" type="xml">
					<config>
						<zone>overstory:identifier:httpstatemanager:test-rig</zone>
					</config>
				</literal>
			</space>
		</mapper>
	</rootspace>

	<rootspace uri="urn:overstory.co.uk:service:resource:identifier:toolbox:test" public="false">
		<import>
			<uri>urn:org:netkernel:xml:core</uri>
		</import>
		<import>
			<uri>urn:org:netkernel:lang:xrl</uri>
		</import>
		<import>
			<uri>urn:org:netkernel:xml:saxon</uri>
		</import>
		<import>
			<uri>urn:org:netkernel:lang:dpml</uri>
		</import>
		<import>
			<uri>urn:org:netkernel:lang:groovy</uri>
		</import>
		<import>
			<uri>urn:org:netkernel:client:http</uri>
		</import>
		<import>
			<uri>urn:org:netkernel:ext:layer1</uri>
		</import>
		<import>
			<uri>urn:org:netkernel:ext:system</uri>	<!--Required for Exception to DOM Transreptor-->
		</import>
	</rootspace>


</module>
