<?xml version="1.0" encoding="UTF-8"?>
<module version="2.0">
	<meta>
		<identity>
			<uri>urn:overstory.co.uk:service:resource:identifier:tests</uri>
			<version>0.1.0</version>
		</identity>
		<info>
			<name>Tests of Overstory Identifier Service</name>
			<description>Tests for OverStory REST Identifier Service</description>
			<icon>res:/resources/doc/overstory-icon.png</icon>
		</info>

	</meta>
	<system>
		<dynamic/>
	</system>

	<rootspace uri="urn:overstory.co.uk:service:resource:identifier:tests" public="true" name="Identifier Service REST Tests">
		<literal uri="res:/test/idsvc/ra-config.xml" type="xml">
			<ra-config>
				<basePath>/idsvc</basePath>
				<urlEncodingEnabled>true</urlEncodingEnabled>
				<xml-content-types>
					<xml-type>application/vnd.overstory.error+xml</xml-type>
					<xml-type>application/vnd.overstory.meta.id+xml</xml-type>
				</xml-content-types>
				<test-content-types>
					<text-type>application/vnd.foobar.no.such.type+xyz</text-type>
				</test-content-types>
			</ra-config>
		</literal>
		<literal uri="res:/test/idsvc/xml-config.xml" type="xml">
			<xml-config>
				<namespace-aware>true</namespace-aware>
				<namespaces>
					<namespace>
						<prefix>e</prefix>
						<uri>http://overstory.co.uk/ns/errors</uri>
					</namespace>
					<namespace>
						<prefix>i</prefix>
						<uri>http://ns.overstory.co.uk/namespaces/resources/meta/id</uri>
					</namespace>
					<namespace>
						<prefix>atom</prefix>
						<uri>http://www.w3.org/2005/Atom</uri>
					</namespace>
					<namespace>
						<prefix>foo</prefix>
						<uri>the-foo-namespace</uri>
					</namespace>
				</namespaces>
			</xml-config>
		</literal>

		<fileset>
			<regex>res:/etc/system/SimpleDynamicImportHook.xml</regex>
		</fileset>

		<fileset>
			<regex>res:/etc/system/Tests.xml</regex>
		</fileset>
		<fileset>
			<regex>res:/test/.*</regex>
		</fileset>
		<fileset>
			<regex>res:/config/.*</regex>
		</fileset>
		<!--ICON-->
		<fileset>
			<regex>res:/resources/doc/overstory-icon.png</regex>
		</fileset>

		<mapper>
			<config>
				<endpoint>
					<grammar>
						<simple>res:/svcconfig/string/{field}</simple>
					</grammar>
					<request>
						<identifier>active:xpath2</identifier>
						<argument name="operator" method="as-string">string(/config/[[arg:field]])</argument>
						<argument name="operand">res:/test/svcconfig.xml</argument>
					</request>
				</endpoint>

				<endpoint>
					<grammar>
						<simple>res:/svcconfig/xml/{field}</simple>
					</grammar>
					<request>
						<identifier>active:xpath2</identifier>
						<argument name="operator" method="as-string">/config/[[arg:field]]</argument>
						<argument name="operand">res:/test/svcconfig.xml</argument>
					</request>
				</endpoint>
			</config>

			<space/>
		</mapper>


		<endpoint><!-- stop any configuration from module under test from polluting address space -->
			<prototype>Limiter</prototype>
			<grammar>
				res:/etc/
				<regex type="anything" />
			</grammar>
		</endpoint>

		<import>
			<uri>urn:org:netkernel:mod:restassured</uri>
		</import>
		<import>
			<uri>urn:org:netkernel:ext:layer1</uri>
		</import>
		<import>
			<uri>urn:org:netkernel:client:http</uri>
		</import>
		<import>
			<uri>urn:org:netkernel:lang:groovy</uri>
		</import>
		<import>
			<uri>urn:org:netkernel:xml:core</uri>
		</import>
		<import>
			<uri>urn:org:netkernel:xml:saxon</uri>
		</import>
		<import>
			<uri>urn:org:netkernel:ext:system</uri>	<!--Required for Exception to DOM Transreptor-->
		</import>
		<import>
			<uri>urn:overstory.co.uk:service:resource:identifier:test-rig</uri>
		</import>
		<import>
			<uri>urn:overstory.co.uk:service:resource:identifier:toolbox:test</uri>
		</import>
		<fileset>
			<regex>res:/resources/.*</regex>
		</fileset>
	</rootspace>

	<!-- This should be in a standalone module? -->
	<rootspace uri="urn:overstory.co.uk:service:resource:identifier:test-rig" public="false" name="Test Rig">
		<fileset>
			<regex>res:/etc/system/SimpleDynamicImportHook.xml</regex>
		</fileset>
		<mapper>
			<config>res:/test/ml-test-rig/mappings.xml</config>
			<space>
				<import>
					<uri>urn:overstory.co.uk:service:resource:identifier:toolbox:test</uri>
				</import>
				<fileset>
					<regex>res:/resources/.*</regex>
				</fileset>
				<fileset>
					<regex>res:/test/.*</regex>
				</fileset>
			</space>
		</mapper>
	</rootspace>


	<rootspace uri="urn:overstory.co.uk:service:resource:identifier:toolbox:test" public="false" name="Toolbox">
		<import>
			<uri>urn:org:netkernel:xml:core</uri>
		</import>
		<import>
			<uri>urn:org:netkernel:lang:xrl</uri>
		</import>
		<import>
			<uri>urn:org:netkernel:xml:saxon</uri>
		</import>
		<import>
			<uri>urn:org:netkernel:lang:dpml</uri>
		</import>
		<import>
			<uri>urn:org:netkernel:lang:groovy</uri>
		</import>
		<import>
			<uri>urn:org:netkernel:client:http</uri>
		</import>
		<import>
			<uri>urn:org:netkernel:ext:layer1</uri>
		</import>
		<import>
			<uri>urn:org:netkernel:ext:system</uri>	<!--Required for Exception to DOM Transreptor-->
		</import>
	</rootspace>


</module>
